<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'index.css'%}">
</head>
<body>
    <header>
        <ul>
            <li>首页</li>
            <li>新闻</li>
            <li>产品</li>
            <li>关于</li>
        </ul>
    </header>
    <div class="content">
        {% block content%} 
            我是父模板的代码<br/>
        {% endblock%}
    </div>
    <footer>
        这是footer
    </footer>
</body>
</html>