<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    </style>
</head>
<body>
    <ul>
        {% for item in colors reversed%}
            <li>{{item}}</li>
        {% endfor %}
    </ul>
    <ul>
        {% for key,value in person.items%}
        <li>{{key}}/{{value}}</li>
        {% endfor%}
    </ul>
    <table>
        <thead>
            <th>序号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>身高</th>
        </thead>
        <tbody>
          
                {% for item in books %}
                <tr>
                    <th>{{forloop.counter}}</th>
                    <td>{{item.name}}</td>
                    <th>{{item.age}}</th>
                    <th>{{item.height}}</th>
                </tr>
                {% endfor %}
           
        </tbody>
    </table>
</body>
</html>