{% extends 'base.html'%}

{% block content %}
<table class="table">
    <thead class="thead">
        <tr>
            <th>序号</th>
            <th>书名</th>
            <th>作者</th>
        </tr>
    </thead>
    <tbody>
        {% for item in books %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="{% url 'book_detail' book_id=item.0 %}">{{item.1}}</a></td>
                <td>{{item.2}}</td>
            </tr>
        {% endfor%}
    </tbody>
</table>
{% endblock %}